name: Code Quality

on:
  push:
    branches: [main]
  pull_request:
    types: [opened, synchronize, reopened]
  workflow_dispatch: ~

jobs:
  # Use ESLint to check for linting errors
  lintCheck:
    runs-on: [ubuntu-latest]
    name: Linter (${{ matrix.path }})
    permissions:
      contents: read
    strategy:
      fail-fast: false
      matrix:
        path: [pr-summary, pr-review]
    steps:
      - name: Checkout source branch
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Setup Node
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: .tool-versions
          cache: npm
          cache-dependency-path: ${{ matrix.path }}/package-lock.json
      - run: npm install --frozen-lockfile
        working-directory: ${{ matrix.path }}
      - name: Run ESLint
        run: npm run lint
        working-directory: ${{ matrix.path }}

  # Use Prettier to check for formatting errors
  formatCheck:
    runs-on: [ubuntu-latest]
    name: Formatter (${{ matrix.path }})
    permissions:
      contents: read
    strategy:
      fail-fast: false
      matrix:
        path: [pr-summary, pr-review]
    steps:
      - name: Checkout source branch
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Setup Node
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: .tool-versions
          cache: npm
          cache-dependency-path: ${{ matrix.path }}/package-lock.json
      - run: npm install --frozen-lockfile
        working-directory: ${{ matrix.path }}
      - name: Run Prettier
        run: npm run prettier
        working-directory: ${{ matrix.path }}
