name: Code Quality

on:
  push:
    branches: [main]
  pull_request:
    types: [opened, synchronize, reopened]
  workflow_dispatch: ~

jobs:
  # Use ESLint to check for linting errors
  lintCheck:
    runs-on: [ubuntu-latest]
    name: Linter (${{ matrix.path }})
    permissions:
      contents: read
    strategy:
      fail-fast: false
      matrix:
        path: [pr-summary, pr-review]
    steps:
      - name: Checkout source branch
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Setup Node
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: .tool-versions
          cache: npm
          cache-dependency-path: ${{ matrix.path }}/package-lock.json
      - run: npm install --frozen-lockfile
        working-directory: ${{ matrix.path }}
      - name: Run ESLint
        run: npm run lint
        working-directory: ${{ matrix.path }}

  # Use Prettier to check for formatting errors
  formatCheck:
    runs-on: [ubuntu-latest]
    name: Formatter (${{ matrix.path }})
    permissions:
      contents: read
    strategy:
      fail-fast: false
      matrix:
        path: [pr-summary, pr-review]
    steps:
      - name: Checkout source branch
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Setup Node
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: .tool-versions
          cache: npm
          cache-dependency-path: ${{ matrix.path }}/package-lock.json
      - run: npm install --frozen-lockfile
        working-directory: ${{ matrix.path }}
      - name: Run Prettier
        run: npm run prettier
        working-directory: ${{ matrix.path }}
